body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  display: flex;
  gap: 2rem;
  background-color: rgb(63, 4, 8);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
.img-container {
  width: 25rem;
  border-radius: 10px;
  background-image: url("./side2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 1rem;
  background-color: rgb(89, 14, 19);
  /* background-color: rgb(121, 26, 26); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input {
  /* background-color: rgb(142, 56, 56); */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: white;
}

.form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
button {
  color: #fff;
  font-size: 15px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(66 3 7);
  background-color: rgb(75 17 17);
}
button:hover {
  /* background-color: rgba(238, 109, 109, 0.3); */
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
h1 {
  color: #fff;
}
.remember {
  color: #fff;
}

[type="checkbox"] {
  opacity: 1;
}

[type="checkbox"]:checked {
  border-color: rgb(96, 31, 48);
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 0 1px rgb(139, 79, 138);
}
label {
  color: #fff;
}
.labels {
  display: flex;
  align-items: center;
}
.city-list {
  background-color: rgb(120, 49, 49);
  width: 100px;
  padding: 5px;
  color: rgb(241, 238, 238);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px rgb(93, 32, 32);;
}
.city {
  display: flex;
  gap: 0.5rem;
}
.form {
  min-height: 80vh;
}
